.main-card{
	align-items: center !important;
}
.borer-left{
	border:1px solid left;
}
.icon-design{
	padding-bottom: 4px;
	margin-right: 9px;
	margin-top: 6px;
}
.border-bottom{
	border-bottom:2px solid dimgray;
	margin-bottom: 20px;
}
.w-full{
	width: 100%;
}
.one {
		list-style: square;
	  }
