// If you want to override variables do it here
@import "variables";

$enable-ltr: true;
$enable-rtl: true;

// Import CoreUI for React components library
@import "@coreui/coreui/scss/coreui";

// Import Chart.js custom tooltips styles
@import "@coreui/chartjs/scss/coreui-chartjs";

@import "layout";
@import "example";

// If you want to add custom CSS you can put it here.

@import "custom";

//to hide data table bottom header
tbody + thead {
  display: none;
}

.mdbDataTableDesign {
  font-size: 20px !important;
  text-align: center !important;
}

.anchor{
	color:blue;
	cursor: pointer;
}
.anchor:hover{
	text-decoration: underline;
}
#salary{
	height: 41px;
	margin-top: 1px;
}
